body {
  margin: 5%;
}

img {
  width: 100%;
}

.ss-colour-conatainer {
  background-color: #fffbeb;
  width: 100% ;
  height: 100vh;

}

.ss-title-image {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 25%;
}

.ss-sun {
  position: absolute;
  width: 10%;
  left: 44%;
  top: 50%;
  animation: bounce 4s ease-in-out infinite;
}

@keyframes bounce {
    0%   { transform: translateY(20); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(20); }
}

.ss-text-hyperlinks {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
}

.ss-text-mayqueen {
  position: absolute;
  width: 15%;
  top: 74%;
  left: 42%;
}

.ss-text-yellow {
  position: absolute;
  width: 20%;
  top: 78%;
  left: 39.5%;
}

.ss-text-runes {
  position: absolute;
  width:19%;
  top: 82%;
  left: 40%;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
