Body {
  margin: 0;
  padding: 0;
}

img {
  width:;
}

.ss-main--image {
  background-color: FFFADE;
}

.ss-main--large {
  transform: translate();
}

.ss-main--medium {
  transform: translate();
}

.ss-main--small {
 transform: translate();

}
